<html>
<head>
<title>Django	Girls	blog</title>
</head>
<body>
<div>
<h1><a	href="/">Django	Girls<small>Code like girls</small>	Blog</a></h1>
</div>
<div>
<p>published:	1.09.2018,	12:14</p>
<h2><a	href="">Empowering Women in technology</a></h2>
<p >Django girls Busia team under Andela umbrella Uganda  and other tech fields banged it up at Busitema University today .</p>
</div>
<div>
<p>published:	1.09.2018,	12:14</p>
<h2><a	href="">Ladies on the team of software development.</a></h2>
<p>Great thanks to the Andela &Udacity team  for the scholarship course training opportunity given to ladies most.</p>
</div>

<p style="color: blue;text-decoration: underline;font-weight: bold" >Meet Djnago girls coaches</p>
<ul>
	<li>Hadijja</li>
	<li>Derrick</li>
	<li>Rita</li>
	<li>Diana</li>
	<li>Mariam</li>
</ul>
<footer style="background-color: red">
	<p>Django girls Blog: Powered by Andela Uganda</p>
</footer>
</body>
</html>